 


.header {
  min-height: 101px;
  background-color: #1c1c1c;  
}
.header-top {
  line-height: 100px;
}
.container {  
  max-width: 848px;
 
}
footer {
  height: 87px;
  background-color: #1c1c1c;
}
.top-menu {  
  min-height: 100px;
  padding: 32px 0 5px 0;  
}
.container .content {
  padding: 40px 0;
}
.btn-order {
  background-color: #dd2401;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  height: 58px;
}
.btn-coupon-apply {
  background-color: #dd2401;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
/*.step-menu-inside-right,
.step-menu-inside-left {
  width: 100%;  
}

*/
