 


.header {
  min-height: 101px;
  background-color: #1c1c1c;  
}
.header-top {
  line-height: 100px;
}
.page-container {  
  min-height: 700px;
  width: ;

}
footer {
  height: 87px;
  background-color: #1c1c1c;
}
.top-menu {  
  min-height: 100px;
  padding: 32px 0 5px 0;  
}
.top-logo {
  
}
/*.step-menu-inside-right,
.step-menu-inside-left {
  width: 100%;  
}

*/
