<div class="header">
  <div class="container">
    <div class="header-top">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <%= image_tag 'logo1.png' %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-6 top-menu">
        <div class="col-xs-3 col-sm-6 col-lg-6 btn " href="#">Step1</div>
        <div class="col-xs-3 col-sm-6 col-lg-6 btn red" href="#">Billing Information</div>
      </div>
    </div>    
  </div>
</div>